*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/androidTestResultsUserPreferences.xml
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
release.jks

# Python
__pycache__/
*.pyc
